    {{#if site.keys.googleAnalytics}}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.keys.googleAnalytics}}"></script>
    <script>function gtag(){dataLayer.push(arguments)};window.dataLayer=window.dataLayer||[];gtag('js',new Date());gtag('config','{{site.keys.googleAnalytics}}')</script>
    {{/if}}
    <script async type="text/javascript" src="{{page.attributes.javadoc-root}}/module-search-index.js"></script>
    <script async type="text/javascript" src="{{page.attributes.javadoc-root}}/package-search-index.js"></script>
    <script async type="text/javascript" src="{{page.attributes.javadoc-root}}/type-search-index.js"></script>
    <script async type="text/javascript" src="{{page.attributes.javadoc-root}}/member-search-index.js"></script>
    <script async type="text/javascript" src="{{page.attributes.javadoc-root}}/tag-search-index.js"></script>
    <script type="text/javascript" src="{{uiRootPath}}/js/vendor/script.js"></script> <!-- This one is GPL -->
    <script type="text/javascript" src="{{uiRootPath}}/js/vendor/javadoc.js"></script>
    <script type="text/javascript" src="{{uiRootPath}}/js/vendor/search.js"></script> <!-- This one is GPL -->
